<div class="col-xs-12">
    <a ng-href="{{goToPage.link}}" class="navigate-link">Go to {{goToPage.name}}</a>
    <table class="table table-hover">
        <thead>
            <tr>
                <th ng-repeat="header in headerColumns" ng-click="onSortHandler(header)">
                    <span >{{header.name}}</span>
                    <span class="glyphicon sortheader" 
                    ng-class="{'glyphicon-sort-by-attributes': sortByColumn === header.name
                   && !sortDirection, 'glyphicon-sort-by-attributes-alt': sortByColumn === header.name
                   && sortDirection  }"></span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in datalist | orderBy:sortByColumn:sortDirection">
                <td ng-repeat="column in headerColumns">
                    {{row[column.name] || '-'}}
                </td>
            </tr>
        </tbody>
    </table>
</div>