/* app css stylesheet */

table{
  border: 1px solid #908b8b;
  background-color: #f7f7f7;
}
th{
  position: relative;
  cursor: pointer;
} 
.glyphicon{
  width: 50%;
  position: absolute;
  bottom: 9px;
  top: inherit;
}
span{
  width: 50%;    
}

td, th{
  text-align: center;
  text-transform: capitalize;
}
.sortheader{
  width:35%;
  text-align:left;
  padding-left:15px;
}
tbody tr:nth-child(odd){
  background-color: #fff;
}

